/* .themify_builder_10_row.module_row_0 Style */
.themify_builder_10_row.module_row_0.module_row {
	background-image: url(../2017/02/TEDx-Hero-Image-mk-ii1800x1000.jpg);
	background-color: #000000;
	background-color: rgba(0,0,0, 0.00);
	text-align: center;
	color: #ffffff;
	padding-top : 17.5%;
	padding-bottom : 17.5%
}
.themify_builder_10_row.module_row_0.module_row h1 {
	color: #ffffff
}
.themify_builder_10_row.module_row_0.module_row h2 {
	color: #ffffff
}
.themify_builder_10_row.module_row_0.module_row h3:not(.module-title) {
	color: #ffffff
}
.themify_builder_10_row.module_row_0.module_row h4 {
	color: #ffffff
}
.themify_builder_10_row.module_row_0.module_row h5 {
	color: #ffffff
}
.themify_builder_10_row.module_row_0.module_row h6 {
	color: #ffffff
}
.themify_builder_10_row.module_row_0.module_row>.builder_row_cover {
	background: -moz-linear-gradient(180deg,rgba(0, 0, 0, 0.360784) 0%, rgba(0, 0, 0, 0) 73%, rgba(0, 0, 0, 0.521569) 98%);
background: -webkit-linear-gradient(180deg,rgba(0, 0, 0, 0.360784) 0%, rgba(0, 0, 0, 0) 73%, rgba(0, 0, 0, 0.521569) 98%);
background: -o-linear-gradient(180deg,rgba(0, 0, 0, 0.360784) 0%, rgba(0, 0, 0, 0) 73%, rgba(0, 0, 0, 0.521569) 98%);
background: -ms-linear-gradient(180deg,rgba(0, 0, 0, 0.360784) 0%, rgba(0, 0, 0, 0) 73%, rgba(0, 0, 0, 0.521569) 98%);
background: linear-gradient(180deg,rgba(0, 0, 0, 0.360784) 0%, rgba(0, 0, 0, 0) 73%, rgba(0, 0, 0, 0.521569) 98%);

}
.themify_builder_10_row.module_row_0.module_row>.builder_row_cover:before {
	background:rgba(255,255,255, 0.00)
}

.themify_builder .text-10-0-0-2.module-text { font-size: 26px; margin-top: -2%;  } 
.themify_builder .buttons-10-0-0-3 .module-buttons .module-buttons-item a { background-color: #000000; background-color: rgba(0,0,0, 0.00); color: #ffffff; border-top-color: #ffffff; border-top-color: rgba(255,255,255, 2.5); border-top-width: 2px; border-top-style: solid; border-right-color: #ffffff; border-right-width: 2px; border-right-style: solid; border-bottom-color: #ffffff; border-bottom-width: 2px; border-bottom-style: solid; border-left-color: #ffffff; border-left-width: 2px; border-left-style: solid;  } 
.themify_builder .buttons-10-0-0-3 .module-buttons .module-buttons-item a:hover { background-color: #ffffff; color: #3b3b3b;  } 
/* .themify_builder_10_row.module_row_1 Style */
.themify_builder_10_row.module_row_1.module_row {
	background-image: url(../2016/11/TEDx-Hero-Image-mk-ii1800x1000.jpg);
	text-align: center;
	color: #ffffff;
	padding-top : 38.6%;
	padding-bottom : 45%
}
.themify_builder_10_row.module_row_1.module_row h1 {
	color: #ffffff
}
.themify_builder_10_row.module_row_1.module_row h2 {
	color: #ffffff
}
.themify_builder_10_row.module_row_1.module_row h3:not(.module-title) {
	color: #ffffff
}
.themify_builder_10_row.module_row_1.module_row h4 {
	color: #ffffff
}
.themify_builder_10_row.module_row_1.module_row h5 {
	color: #ffffff
}
.themify_builder_10_row.module_row_1.module_row h6 {
	color: #ffffff
}
.themify_builder_10_row.module_row_1.module_row>.builder_row_cover {
	background:rgba(0,0,0, .18)
}

.themify_builder .text-10-1-0-1.module-text { font-size: 11px;  } 
.themify_builder .text-10-1-0-1.module-text h1 { font-size: 50px;  } 
.themify_builder .text-10-1-0-2.module-text { font-size: 24px; margin-top: -2%;  } 
.themify_builder .buttons-10-1-0-3 .module-buttons .module-buttons-item a { background-color: #000000; background-color: rgba(0,0,0, 0.00); color: #ffffff; border-top-color: #ffffff; border-top-color: rgba(255,255,255, 2.5); border-top-width: 2px; border-top-style: solid; border-right-color: #ffffff; border-right-width: 2px; border-right-style: solid; border-bottom-color: #ffffff; border-bottom-width: 2px; border-bottom-style: solid; border-left-color: #ffffff; border-left-width: 2px; border-left-style: solid;  } 
.themify_builder .buttons-10-1-0-3 .module-buttons .module-buttons-item a:hover { background-color: #ffffff; color: #3b3b3b;  } 
/* .themify_builder_10_row.module_row_2 Style */
.themify_builder_10_row.module_row_2.module_row {
	background-image: -moz-linear-gradient(180deg,rgb(41, 41, 41) 0%, rgba(179, 179, 179, 0.14902) 98%);
background-image: -webkit-linear-gradient(180deg,rgb(41, 41, 41) 0%, rgba(179, 179, 179, 0.14902) 98%);
background-image: -o-linear-gradient(180deg,rgb(41, 41, 41) 0%, rgba(179, 179, 179, 0.14902) 98%);
background-image: -ms-linear-gradient(180deg,rgb(41, 41, 41) 0%, rgba(179, 179, 179, 0.14902) 98%);
background-image: linear-gradient(180deg,rgb(41, 41, 41) 0%, rgba(179, 179, 179, 0.14902) 98%);
;
	background-color: #292929;
	padding-top : 5%;
	padding-bottom : 4%
}

.themify_builder .text-10-2-0-1.module-text { font-family: PT Serif; color: #ffffff; font-size: 24px; text-align: center;  } 
.themify_builder .text-10-2-0-1.module-text h1 { font-family: PT Serif; color: #ffffff;  } 
.themify_builder .text-10-2-0-1.module-text h2 { font-family: PT Serif; color: #ffffff;  } 
.themify_builder .text-10-2-0-1.module-text h3:not(.module-title) { font-family: PT Serif; color: #ffffff;  } 
.themify_builder .text-10-2-0-1.module-text h4 { font-family: PT Serif; color: #ffffff;  } 
.themify_builder .text-10-2-0-1.module-text h5 { font-family: PT Serif; color: #ffffff;  } 
.themify_builder .text-10-2-0-1.module-text h6 { font-family: PT Serif; color: #ffffff; font-size: 16px;  } 
.themify_builder .text-10-2-0-1.module.module-text h6 { font-family: PT Serif; color: #ffffff;  } 
.themify_builder .image-10-3-0-1.module-image { padding-top: 2%; padding-right: 50px; padding-left: 50px;  } 
.themify_builder .image-10-4-0-1.module-image { padding-top: 15px; padding-right: 15px; padding-left: 15px;  } 
/* .themify_builder_10_row.module_row_5 Style */
.themify_builder_10_row.module_row_5.module_row {
	background-color: #ffffff;
	padding-top : 30px;
	padding-right : 100px;
	padding-bottom : 10px;
	padding-left : 100px;
	margin-right : 0px;
	margin-bottom : -3px;
	margin-left : 0px
}

.module_row_5 .module_column_0.tb_10_column{width:54.1035%;}.themify_builder .text-10-5-0-1.module-text { color: #000000; padding-right: 50px; padding-bottom: 25px;  } 
.themify_builder .text-10-5-0-1.module-text h1 { color: #000000;  } 
.themify_builder .text-10-5-0-1.module-text h2 { color: #000000;  } 
.themify_builder .text-10-5-0-1.module-text h3:not(.module-title) { color: #000000;  } 
.themify_builder .text-10-5-0-1.module-text h4 { color: #000000;  } 
.themify_builder .text-10-5-0-1.module-text h5 { color: #000000;  } 
.themify_builder .text-10-5-0-1.module-text h6 { color: #000000;  } 
.themify_builder .buttons-10-5-0-2 div.module-buttons { text-align: center; margin-top: -3%;  } 
.themify_builder .buttons-10-5-0-2 .module-buttons .module-buttons-item a { background-color: #000000; background-color: rgba(0,0,0, 0.00); color: #646464; border-top-color: #646464; border-top-width: 2px; border-top-style: solid; border-right-color: #646464; border-right-width: 2px; border-right-style: solid; border-bottom-color: #646464; border-bottom-width: 2px; border-bottom-style: solid; border-left-color: #646464; border-left-width: 2px; border-left-style: solid;  } 
.themify_builder .buttons-10-5-0-2 .module-buttons .module-buttons-item a:hover { background-color: #bfbfbf; color: #646464;  } 
.module_row_5 .module_column_1.tb_10_column{width:42.6966%;}.themify_builder .text-10-5-1-1.module-text { color: #000000; padding-left: 50px;  } 
.themify_builder .text-10-5-1-1.module-text h1 { color: #000000;  } 
.themify_builder .text-10-5-1-1.module-text h2 { color: #000000;  } 
.themify_builder .text-10-5-1-1.module-text h3:not(.module-title) { color: #000000;  } 
.themify_builder .text-10-5-1-1.module-text h4 { color: #000000;  } 
.themify_builder .text-10-5-1-1.module-text h5 { color: #000000;  } 
.themify_builder .text-10-5-1-1.module-text h6 { color: #000000;  } 
.themify_builder .buttons-10-5-1-2 div.module-buttons { text-align: center;  } 
.themify_builder .buttons-10-5-1-2 .module-buttons .module-buttons-item a { background-color: #000000; background-color: rgba(0,0,0, 0.00); color: #646464; border-top-color: #646464; border-top-width: 2px; border-top-style: solid; border-right-color: #646464; border-right-width: 2px; border-right-style: solid; border-bottom-color: #646464; border-bottom-width: 2px; border-bottom-style: solid; border-left-color: #646464; border-left-width: 2px; border-left-style: solid;  } 
.themify_builder .buttons-10-5-1-2 .module-buttons .module-buttons-item a:hover { background-color: #bfbfbf; color: #646464;  } 
/* .themify_builder_10_row.module_row_6 Style */
.themify_builder_10_row.module_row_6.module_row {
	background-color: #ffffff;
	padding-top : 30px;
	padding-right : 10px;
	padding-left : 10px;
	margin-right : 0px;
	margin-bottom : -3px;
	margin-left : 0px
}

.module_row_6 .module_column_0.tb_10_column{width:59.6279%;}.themify_builder .text-10-6-0-1.module-text { color: #000000;  } 
.themify_builder .text-10-6-0-1.module-text h1 { color: #000000;  } 
.themify_builder .text-10-6-0-1.module-text h2 { color: #000000;  } 
.themify_builder .text-10-6-0-1.module-text h3:not(.module-title) { color: #000000;  } 
.themify_builder .text-10-6-0-1.module-text h4 { color: #000000;  } 
.themify_builder .text-10-6-0-1.module-text h5 { color: #000000;  } 
.themify_builder .text-10-6-0-1.module-text h6 { color: #000000;  } 
.themify_builder .buttons-10-6-0-2 div.module-buttons { text-align: center; padding-bottom: 20px; margin-top: -3%;  } 
.themify_builder .buttons-10-6-0-2 .module-buttons .module-buttons-item a { background-color: #000000; background-color: rgba(0,0,0, 0.00); color: #646464; border-top-color: #646464; border-top-width: 2px; border-top-style: solid; border-right-color: #646464; border-right-width: 2px; border-right-style: solid; border-bottom-color: #646464; border-bottom-width: 2px; border-bottom-style: solid; border-left-color: #646464; border-left-width: 2px; border-left-style: solid;  } 
.themify_builder .buttons-10-6-0-2 .module-buttons .module-buttons-item a:hover { background-color: #bfbfbf; color: #646464;  } 
.module_row_6 .module_column_1.tb_10_column{width:37.1721%;}.themify_builder .text-10-6-1-1.module-text { color: #000000;  } 
.themify_builder .text-10-6-1-1.module-text h1 { color: #000000;  } 
.themify_builder .text-10-6-1-1.module-text h2 { color: #000000;  } 
.themify_builder .text-10-6-1-1.module-text h3:not(.module-title) { color: #000000;  } 
.themify_builder .text-10-6-1-1.module-text h4 { color: #000000;  } 
.themify_builder .text-10-6-1-1.module-text h5 { color: #000000;  } 
.themify_builder .text-10-6-1-1.module-text h6 { color: #000000;  } 
.themify_builder .buttons-10-6-1-2 div.module-buttons { text-align: center;  } 
.themify_builder .buttons-10-6-1-2 .module-buttons .module-buttons-item a { background-color: #000000; background-color: rgba(0,0,0, 0.00); color: #646464; border-top-color: #646464; border-top-width: 2px; border-top-style: solid; border-right-color: #646464; border-right-width: 2px; border-right-style: solid; border-bottom-color: #646464; border-bottom-width: 2px; border-bottom-style: solid; border-left-color: #646464; border-left-width: 2px; border-left-style: solid;  } 
.themify_builder .buttons-10-6-1-2 .module-buttons .module-buttons-item a:hover { background-color: #bfbfbf; color: #646464;  } 
/* .themify_builder_10_row.module_row_7 Style */
.themify_builder_10_row.module_row_7.module_row {
	background-color: #f6f6f6
}

/* .themify_builder_10_row.module_row_8 Style */
.themify_builder_10_row.module_row_8.module_row {
	background-image: url(../2016/12/7.2.jpg);
	padding-top : 45px;
	padding-bottom : 17.5%
}
.themify_builder_10_row.module_row_8.module_row>.builder_row_cover {
	background: -moz-linear-gradient(180deg,rgb(255, 255, 255) 5%, rgba(0, 0, 0, 0) 64%, rgba(255, 255, 255, 0.188235) 79%, rgb(255, 255, 255) 98%);
background: -webkit-linear-gradient(180deg,rgb(255, 255, 255) 5%, rgba(0, 0, 0, 0) 64%, rgba(255, 255, 255, 0.188235) 79%, rgb(255, 255, 255) 98%);
background: -o-linear-gradient(180deg,rgb(255, 255, 255) 5%, rgba(0, 0, 0, 0) 64%, rgba(255, 255, 255, 0.188235) 79%, rgb(255, 255, 255) 98%);
background: -ms-linear-gradient(180deg,rgb(255, 255, 255) 5%, rgba(0, 0, 0, 0) 64%, rgba(255, 255, 255, 0.188235) 79%, rgb(255, 255, 255) 98%);
background: linear-gradient(180deg,rgb(255, 255, 255) 5%, rgba(0, 0, 0, 0) 64%, rgba(255, 255, 255, 0.188235) 79%, rgb(255, 255, 255) 98%);

}

.themify_builder .fancy-heading-10-8-0-1.module-fancy-heading { padding-top: 25px;  } 
.themify_builder .fancy-heading-10-8-0-1.module .main-head { font-family: Roboto; color: #464646; font-size: 65px;  } 
/* .sub_column_post_10.sub_column_8-0-2-0 Style */
.sub_column_post_10.sub_column_8-0-2-0.sub_column {
	padding-top : 0px;
	padding-right : 25px
}

.themify_builder .text-10-sub_row_8-0-2-0-0.module-text { background-color: #4d4d4d; background-color: rgba(77,77,77, .35); text-align: center; padding-top: 10px;  } 
.themify_builder .text-10-sub_row_8-0-2-0-0.module-text h5 { font-size: 24px;  } 
.themify_builder .text-10-sub_row_8-0-2-0-0.module.module-text h5 { font-family: Roboto; color: #ffffff;  } 
.themify_builder .buttons-10-sub_row_8-0-2-0-1 div.module-buttons { background-color: #4d4d4d; background-color: rgba(77,77,77, .35); text-align: center; padding-bottom: 20px;  } 
.themify_builder .buttons-10-sub_row_8-0-2-0-1 .module-buttons .module-buttons-item a { background-color: #ffffff; background-color: rgba(255,255,255, 0.00); color: #ffffff; border-top-color: #ffffff; border-top-width: 2px; border-top-style: solid; border-right-color: #ffffff; border-right-width: 2px; border-right-style: solid; border-bottom-color: #ffffff; border-bottom-width: 2px; border-bottom-style: solid; border-left-color: #ffffff; border-left-width: 2px; border-left-style: solid;  } 
.themify_builder .buttons-10-sub_row_8-0-2-0-1 .module-buttons .module-buttons-item a:hover { background-color: #ffffff; color: #464646;  } 
/* .sub_column_post_10.sub_column_8-0-2-1 Style */
.sub_column_post_10.sub_column_8-0-2-1.sub_column {
	padding-left : 25px
}

.themify_builder .text-10-sub_row_8-0-2-1-0.module-text { background-color: #4d4d4d; background-color: rgba(77,77,77, .35); font-family: Roboto; text-align: center; padding-top: 10px;  } 
.themify_builder .text-10-sub_row_8-0-2-1-0.module-text h1 { font-family: Roboto;  } 
.themify_builder .text-10-sub_row_8-0-2-1-0.module-text h2 { font-family: Roboto;  } 
.themify_builder .text-10-sub_row_8-0-2-1-0.module-text h3:not(.module-title) { font-family: Roboto;  } 
.themify_builder .text-10-sub_row_8-0-2-1-0.module-text h4 { font-family: Roboto;  } 
.themify_builder .text-10-sub_row_8-0-2-1-0.module-text h5 { font-family: Roboto; font-size: 24px;  } 
.themify_builder .text-10-sub_row_8-0-2-1-0.module-text h6 { font-family: Roboto;  } 
.themify_builder .text-10-sub_row_8-0-2-1-0.module.module-text h5 { font-family: Roboto; color: #ffffff;  } 
.themify_builder .buttons-10-sub_row_8-0-2-1-1 div.module-buttons { background-color: #4d4d4d; background-color: rgba(77,77,77, .35); text-align: center; padding-bottom: 20px;  } 
.themify_builder .buttons-10-sub_row_8-0-2-1-1div.module-buttons { color: #ffffff;  } 
.themify_builder .buttons-10-sub_row_8-0-2-1-1 div.module-buttons i { font-size: 16px;  } 
.themify_builder .buttons-10-sub_row_8-0-2-1-1 div.module-buttons a { font-size: 16px;  } 
.themify_builder .buttons-10-sub_row_8-0-2-1-1 div.module-buttons span { font-size: 16px;  } 
.themify_builder .buttons-10-sub_row_8-0-2-1-1 .module-buttons .module-buttons-item a { background-color: #ffffff; background-color: rgba(255,255,255, 0.00); color: #ffffff; border-top-color: #ffffff; border-top-width: 2px; border-top-style: solid; border-right-color: #ffffff; border-right-width: 2px; border-right-style: solid; border-bottom-color: #ffffff; border-bottom-width: 2px; border-bottom-style: solid; border-left-color: #ffffff; border-left-width: 2px; border-left-style: solid;  } 
.themify_builder .buttons-10-sub_row_8-0-2-1-1 .module-buttons .module-buttons-item a:hover { background-color: #ffffff; color: #464646;  } 
/* .themify_builder_10_row.module_row_9 Style */
.themify_builder_10_row.module_row_9.module_row {
	background-image: url(../2016/12/7.2.jpg);
	padding-bottom : 6%
}
.themify_builder_10_row.module_row_9.module_row>.builder_row_cover {
	background: -moz-linear-gradient(180deg,rgb(255, 255, 255) 5%, rgba(0, 0, 0, 0.227451) 79%, rgba(0, 0, 0, 0.227451) 98%);
background: -webkit-linear-gradient(180deg,rgb(255, 255, 255) 5%, rgba(0, 0, 0, 0.227451) 79%, rgba(0, 0, 0, 0.227451) 98%);
background: -o-linear-gradient(180deg,rgb(255, 255, 255) 5%, rgba(0, 0, 0, 0.227451) 79%, rgba(0, 0, 0, 0.227451) 98%);
background: -ms-linear-gradient(180deg,rgb(255, 255, 255) 5%, rgba(0, 0, 0, 0.227451) 79%, rgba(0, 0, 0, 0.227451) 98%);
background: linear-gradient(180deg,rgb(255, 255, 255) 5%, rgba(0, 0, 0, 0.227451) 79%, rgba(0, 0, 0, 0.227451) 98%);

}

.themify_builder .fancy-heading-10-9-0-1.module .main-head { font-family: Roboto; color: #464646; font-size: 65px;  } 
.themify_builder .text-10-sub_row_9-0-2-0-0.module-text { background-color: #4d4d4d; background-color: rgba(77,77,77, .35); text-align: center;  } 
.themify_builder .text-10-sub_row_9-0-2-0-0.module-text h5 { font-size: 24px;  } 
.themify_builder .text-10-sub_row_9-0-2-0-0.module.module-text h5 { font-family: Roboto; color: #ffffff;  } 
.themify_builder .buttons-10-sub_row_9-0-2-0-1 div.module-buttons { background-color: #4d4d4d; background-color: rgba(77,77,77, .35); text-align: center; padding-bottom: 10px;  } 
.themify_builder .buttons-10-sub_row_9-0-2-0-1 .module-buttons .module-buttons-item a { background-color: #ffffff; background-color: rgba(255,255,255, 0.00); color: #ffffff; border-top-color: #ffffff; border-top-width: 2px; border-top-style: solid; border-right-color: #ffffff; border-right-width: 2px; border-right-style: solid; border-bottom-color: #ffffff; border-bottom-width: 2px; border-bottom-style: solid; border-left-color: #ffffff; border-left-width: 2px; border-left-style: solid;  } 
.themify_builder .buttons-10-sub_row_9-0-2-0-1 .module-buttons .module-buttons-item a:hover { background-color: #ffffff; color: #464646;  } 
.themify_builder .text-10-sub_row_9-0-2-1-0.module-text { background-color: #4d4d4d; background-color: rgba(77,77,77, .35); font-family: Roboto; text-align: center;  } 
.themify_builder .text-10-sub_row_9-0-2-1-0.module-text h1 { font-family: Roboto;  } 
.themify_builder .text-10-sub_row_9-0-2-1-0.module-text h2 { font-family: Roboto;  } 
.themify_builder .text-10-sub_row_9-0-2-1-0.module-text h3:not(.module-title) { font-family: Roboto;  } 
.themify_builder .text-10-sub_row_9-0-2-1-0.module-text h4 { font-family: Roboto;  } 
.themify_builder .text-10-sub_row_9-0-2-1-0.module-text h5 { font-family: Roboto; font-size: 24px;  } 
.themify_builder .text-10-sub_row_9-0-2-1-0.module-text h6 { font-family: Roboto;  } 
.themify_builder .text-10-sub_row_9-0-2-1-0.module.module-text h5 { font-family: Roboto; color: #ffffff;  } 
.themify_builder .buttons-10-sub_row_9-0-2-1-1 div.module-buttons { background-color: #4d4d4d; background-color: rgba(77,77,77, .35); text-align: center; padding-bottom: 10px;  } 
.themify_builder .buttons-10-sub_row_9-0-2-1-1div.module-buttons { color: #ffffff;  } 
.themify_builder .buttons-10-sub_row_9-0-2-1-1 div.module-buttons i { font-size: 16px;  } 
.themify_builder .buttons-10-sub_row_9-0-2-1-1 div.module-buttons a { font-size: 16px;  } 
.themify_builder .buttons-10-sub_row_9-0-2-1-1 div.module-buttons span { font-size: 16px;  } 
.themify_builder .buttons-10-sub_row_9-0-2-1-1 .module-buttons .module-buttons-item a { background-color: #ffffff; background-color: rgba(255,255,255, 0.00); color: #ffffff; border-top-color: #ffffff; border-top-width: 2px; border-top-style: solid; border-right-color: #ffffff; border-right-width: 2px; border-right-style: solid; border-bottom-color: #ffffff; border-bottom-width: 2px; border-bottom-style: solid; border-left-color: #ffffff; border-left-width: 2px; border-left-style: solid;  } 
.themify_builder .buttons-10-sub_row_9-0-2-1-1 .module-buttons .module-buttons-item a:hover { background-color: #ffffff; color: #464646;  } 
/* .themify_builder_10_row.module_row_10 Style */
.themify_builder_10_row.module_row_10.module_row {
	background-color: #f6f6f6
}

.themify_builder .image-10-11-0-1.module-image { border-bottom-color: #ffffff; border-bottom-width: 5px; border-bottom-style: solid;  } 
