.themify_builder .image-541-0-0-1.module-image .image-content .image-caption { font-family: Arial, Helvetica, sans-serif; color: #3f3f3f; font-size: 40px; line-height: 40px;  } 
.themify_builder .text-541-0-1-1.module-text { font-family: Arial, Helvetica, sans-serif; color: #3f3f3f; font-size: 17px;  } 
.themify_builder .text-541-0-1-1.module-text h1 { font-family: Arial, Helvetica, sans-serif; color: #3f3f3f;  } 
.themify_builder .text-541-0-1-1.module-text h2 { font-family: Arial, Helvetica, sans-serif; color: #3f3f3f;  } 
.themify_builder .text-541-0-1-1.module-text h3:not(.module-title) { font-family: Arial, Helvetica, sans-serif; color: #3f3f3f;  } 
.themify_builder .text-541-0-1-1.module-text h4 { font-family: Arial, Helvetica, sans-serif; color: #3f3f3f;  } 
.themify_builder .text-541-0-1-1.module-text h5 { font-family: Arial, Helvetica, sans-serif; color: #3f3f3f;  } 
.themify_builder .text-541-0-1-1.module-text h6 { font-family: Arial, Helvetica, sans-serif; color: #3f3f3f;  } 
/* .themify_builder_541_row.module_row_1 Style */
.themify_builder_541_row.module_row_1.module_row {
	padding-top : 75px
}

.themify_builder .image-541-1-0-1.module-image .image-content .image-caption { font-family: Arial, Helvetica, sans-serif; color: #3f3f3f; font-size: 60px; line-height: 50px;  } 
.themify_builder .text-541-1-1-1.module-text { font-family: Arial, Helvetica, sans-serif; color: #3f3f3f; font-size: 16px;  } 
.themify_builder .text-541-1-1-1.module-text h1 { font-family: Arial, Helvetica, sans-serif; color: #3f3f3f;  } 
.themify_builder .text-541-1-1-1.module-text h2 { font-family: Arial, Helvetica, sans-serif; color: #3f3f3f;  } 
.themify_builder .text-541-1-1-1.module-text h3:not(.module-title) { font-family: Arial, Helvetica, sans-serif; color: #3f3f3f;  } 
.themify_builder .text-541-1-1-1.module-text h4 { font-family: Arial, Helvetica, sans-serif; color: #3f3f3f;  } 
.themify_builder .text-541-1-1-1.module-text h5 { font-family: Arial, Helvetica, sans-serif; color: #3f3f3f;  } 
.themify_builder .text-541-1-1-1.module-text h6 { font-family: Arial, Helvetica, sans-serif; color: #3f3f3f;  } 
/* .themify_builder_541_row.module_row_2 Style */
.themify_builder_541_row.module_row_2.module_row {
	padding-top : 75px
}

.themify_builder .image-541-2-0-1.module-image .image-content .image-caption { font-family: Arial, Helvetica, sans-serif; color: #3f3f3f; font-size: 55px; line-height: 50px;  } 
